html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 95%;
  height: auto;
  /* Negative indent footer by its height */
  /*margin: 0 auto -60px;*/
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

footer { 
    background-color: #2f2f2f;
    color: #ffffff;
}


